container_commands:
    01_node_install:
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: "yum install -y nodejs --enablerepo=epel"
    02_npm_install:
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: "yum install -y npm --enablerepo=epel"
    03_node_update:
        test: '[ ! -f /usr/bin/n ] echo "node not updated"'
        command: "npm install -g n && n stable"
    04_npm_install:
        command: "npm install ."
    05_npm_build:
        command: "npm run build"
