img.icon-32 {
    height: 32px;
    width: 32px;
}

img.icon-32.img-thumbnail {
    height: 42px;
    width: 42px;
}

img.icon-64 {
    height: 64px;
    width: 64px;
}

img.icon-64.img-thumbnail {
    height: 74px;
    width: 74px;
}

.form-control {
    min-width: 5rem;
}

textarea {
    height: 8rem;
}

.paragraphs {
    white-space: pre-wrap;
}

@keyframes blink {50% { color: transparent }}
.loading-animation, .loading-animation::before, .loading-animation::after {
    content: attr(dot);
    animation: 1s blink infinite;
}

.loading-animation {
    animation-delay: 250ms;
}

.loading-animation::after {
    animation-delay: 500ms;
}
