<!DOCTYPE html>

{% set view_channel = 0x00000400 %}
{% set send_messages = 0x00000800 %}
{% set manage_messages = 0x00002000 %}
{% set embed_links = 0x00004000 %}
{% set attach_files = 0x00008000 %}
{% set read_message_history = 0x00010000 %}
{% set mention_everyone = 0x00020000 %}
{% set change_nickname = 0x04000000 %}
{% set manage_roles = 0x10000000 %}
{% set permissions = view_channel|send_messages|manage_messages|embed_links|attach_files|read_message_history|mention_everyone|change_nickname|manage_roles %}
{% set invite_url = '{}?client_id={}&scope=bot&permissions={}'.format(AUTHORIZATION_BASE_URL, config['discord_client_id'], permissions) %}

<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{ title if title else "Dice-bot" }}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('node_modules', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Dice-bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if not user %}
                    <a class="nav-link" href="{{ url_for('login') }}">login</a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ invite_url }}" target="_blank">Invite Bot</a>
                </li>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container flashes">
        {% for message in messages %}
        <p class="alert {{ 'alert-success' if message.startswith('&#10004;') else 'alert-danger' if message.startswith('&#10006;') else 'alert-info' }}">{{ message|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{{ content|safe }}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('node_modules', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('node_modules', filename='popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('node_modules', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
