<!DOCTYPE html>

<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{ title }}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/4.0.0-b3/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Dice-bot</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% if not user %}
                <a class="nav-link" href="{{ url_for('login') }}">login</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
                {% endif %}
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ '{}?client_id={}&scope=bot&permissions=0'.format(AUTHORIZATION_BASE_URL, config['discord_client_id']) }}" target="_blank">Invite Bot</a>
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container flashes">
        {% for message in messages %}
        <p class="alert {{ 'alert-success' if message.startswith('&#10004;') else 'alert-danger' if message.startswith('&#10006;') else 'alert-info' }}">{{ message|safe }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{{ content|safe }}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='libs/jquery/3.2.1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/popper/1.12.9/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/4.0.0-b3/bootstrap.min.js') }}"></script>
    {% if react %}
    <script src="{{ url_for('static', filename='libs/react/16.2.0/react.development.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/react/16.2.0/react-dom.development.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/babel/6.15.0/babel.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/react-utils.js') }}"></script>
    {% endif %}
    {% block js %}{% endblock %}
</body>
</html>
