{% extends "base.html" %}

{% set react = True %}

{% block js %}
<script type="text/babel" src="{{ url_for('static', filename='js/character.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ character.name }}</h1>
    <p><a class="navbar-brand" href="{{ url_for('index') }}">
        User:
        <img class="icon" src="{{ user.get('avatar') }}" alt="{{ user.get('username') }} icon">
        {{ user.get('username') }}
    </a></p>
    <p>
        Server:
        <img class="icon" src="{{ guild.get('icon') }}" alt="{{ guild.get('name') }} icon">
        {{ guild.get('name') }}
    </p>
    <div id="root"></div>
</div>
{% endblock %}
