{% extends "base.html" %}

{% block css %}
<style>
img {
    height: 32px;
    width: 32px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dice-bot</h1>
    {% if user %}
    <p>
        User:
        <img src="{{ user['avatar'] }}" alt="{{ user['username'] }} icon">
        {{ user['username'] }}
    </p>
    <h2>Characters:</h2>
    <ul>
        {% for character, guild in characters %}
        <li><img src="{{ guild['icon'] }}" alt="{{ guild['name'] }} icon"> {{ guild['name'] }}: {{ character.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
