{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Dice-bot</h1>
    {% if user %}
    <p>
        User:
        <img class="icon" src="{{ user.get('avatar') }}" alt="{{ user.get('username') }} icon">
        {{ user.get('username') }}
    </p>
    <h2>Characters:</h2>
    <ul class="list-group">
        {% for character, guild in characters %}
        <li class="list-group-item"><a href="{{ url_for('character', character=character.id) }}">
            <img class="icon" src="{{ guild.get('icon') }}" alt="{{ guild.get('name') }} icon">
            {{ guild.get('name') }}: {{ character.name }}
        </a></li>
        {% endfor %}
    </ul>
    <h2>Claim Character:</h2>
    <ul class="list-group">
        {% for guild in other_guilds %}
        <li class="list-group-item"><a href="{{ url_for('pick_character', server=guild['id']) }}">
            <img class="icon" src="{{ guild.get('icon') }}" alt="{{ guild.get('name') }} icon">
            {{ guild.get('name') }}
        </a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
