{% extends "base.html" %}
{% from "base.html" import show_user, show_guild %}

{% block content %}
<div class="container">
    {{ show_guild(guild, size='md', link=False) }}
    {{ show_user(user) }}
    <h2>View character:</h2>
    <ul class="list-group">
        {% for character in characters %}
        <li class="list-group-item"><a href="{{ url_for('character', character=character.id) }}">
            {{ character.name }}
        </a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
