{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>New Character</h1>
    <p>
        User:
        <img class="icon" src="{{ user.get('avatar') }}" alt="{{ user.get('username') }} icon">
        {{ user.get('username') }}
    </p>
    <h2>Select a server:</h2>
    <ul class="list-group">
        {% for guild in guilds %}
        <li class="list-group-item"><a href="{{ url_for('new_character', server=guild['id']) }}">
            <img class="icon" src="{{ guild.get('icon') }}" alt="{{ guild.get('name') }} icon">
            {{ guild.get('name') }}
        </a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
