{% extends "base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='libs/react/16.2.0/react.development.js') }}"></script>
<script src="{{ url_for('static', filename='libs/react/16.2.0/react-dom.development.js') }}"></script>
<script src="{{ url_for('static', filename='libs/babel/6.15.0/babel.min.js') }}"></script>
<script type="text/babel" src="{{ url_for('static', filename='js/react-utils.js') }}"></script>
{% for script in scripts %}
<script type="text/babel" src="{{ url_for('static', filename='js/' + script) }}"></script>
{% endfor %}
{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}
